entrypoint="index.html"
hidden=[".config"]
modules = ["nodejs-20", "python-3.11", "web", "postgresql-16"]

[nix]
channel = "stable-23_11"
packages = ["run", "pup", "unzip"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm install"]

[[ports]]
localPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev"
author = 42809642
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Server"
author = 42160976
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[userenv]

[userenv.shared]
JWT_SECRET = "bea07a70f59f33cfe1c6ae80937a08db4bff05a0b5da6af287cd79ee337628c3ede753d451519955c89a59cbb3eec54a05988644cc41934f3c369cce67746b0c"
BACKEND_PORT = "3001"
NODE_ENV = "development"
CREDENTIAL_ENCRYPTION_KEY = "d631bf874d89bf3d4d1432f911e55e4cbcd6a474830701b1c305b4923ac91487"
