entrypoint="index.html"
hidden=[".config"]
modules = ["nodejs-20", "python-3.11", "web:v2-20230623-0b7a606", "postgresql-16"]

[nix]
channel = "stable-23_11"
packages = ["run", "pup"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm install"]

[[ports]]
localPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 35395

[[ports]]
localPort = 41229

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev"
author = 42809642
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Server"
author = 42160976
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
